{% macro actions(actions, justifyContent = 'justify-content-start') %}
    {% import _self as datagrid_macros %}
    <ul class="navbar-nav mr-auto w-100 {{ justifyContent }}">
        {% for action in actions %}
            <li class="nav-item">
                <a href="{{ action.url() }}" class="{{ action.classes|join(' ') }}"
                    {% for attributeName, attributeValue in action.attributes %}{% if attributeValue is null %}{{ attributeName }}{% else %}{{ attributeName }}="{{ attributeValue }}"{% endif %}{% endfor %}
                >
                    {% if action.icon is not null %}
                        {{ datagrid_macros.action_icon(action.icon.type, action.icon.icon) }}
                    {% endif %}
                    {{ action.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro action_icon(type, icon) %}

{% endmacro %}
