{% block datagrid_header %}
    {{ datagrid_header(datagrid) }}
{% endblock %}

{% block datagrid_filter %}
    {% if datagrid.filterForm %}
        {{ include('@UnZeroUnDatagrid/datagrid/filters.html.twig', {'form': datagrid.filterForm.createView()}, with_context=false) }}
    {% endif %}
{% endblock %}

{% block datagrid_list %}
    {% if datagrid.massActionFormView %}
        {{ form_start(datagrid.massActionFormView) }}
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            {% if datagrid.getMassActionForm %}
                <th></th>
            {% endif %}
            {% for column in datagrid.columns %}
                <th>
                    {% if datagrid.sorter is not null and column.name in datagrid.sorter.fields %}
                        {{ sorter_link(datagrid.sorter, column.name, column.label) }}
                        {{ sorter_link(datagrid.sorter, column.name, '<i class="icon-arrow-up"></i>', 'ASC') }}
                        {{ sorter_link(datagrid.sorter, column.name, '<i class="icon-arrow-down"></i>', 'DESC') }}
                    {% else %}
                        {{ column.label }}
                    {% endif %}
                </th>
            {% endfor %}
            {% if (datagrid.actions | length) > 0 %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in datagrid.results %}
            {{ datagrid_row(datagrid, row) }}
        {% endfor %}
        </tbody>
    </table>
    {% if datagrid.massActionFormView %}
        <div class="datagrid-mass-actions">
            {{ form_row(datagrid.massActionFormView.action) }}
            {{ form_row(datagrid.massActionFormView.submit) }}
        </div>

        {% if datagrid.massActionFormView %}
            {{ form_end(datagrid.massActionFormView) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block datagrid_pager %}
    {% if datagrid.paginationEnabled %}
        {{ pagerfanta(datagrid.pager, 'twitter_bootstrap4_translated') }}
    {% endif %}
{% endblock %}
