{% block datagrid_default_cell %}
    <span>{{ value }}</span>
{% endblock %}

{#{% block datagrid_translated_string_cell %}#}
    {#<span>{{ translated_value(value) }}</span>#}
{#{% endblock %}#}

{% block datagrid_datetime_cell %}
    {{ value|localizeddate }}
{% endblock %}

{% block datagrid_collection_count_cell %}
    {{ value|length }}
{% endblock %}

{% block datagrid_image_datagrid_type_cell %}
    <img src="{{ value.url }}" alt="{{ value.alt }}">
{% endblock %}

{% block datagrid_array_cell %}
    <ul>
        {% for item in value %}
            <li>{{ datagrid_cell_value(datagrid, object, item) }}</li>
        {% endfor %}
    </ul>
{% endblock %}
